
.Cards{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.Header {
    padding: 5px 5px;
    border-bottom: 1px solid black;
  }
  
  .filter{
    display: inline-block;
    cursor: pointer;
    color: blueviolet;
    font-weight: normal;
    text-decoration: underline;
    padding: 3px;
  }
  
  .filter:hover{
    text-decoration: underline;
  }

  #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

 .overlayImageStyle{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
 }